@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
a, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
a:focus {
    outline: 0;
    outline-offset: 0;
}
img {
    display: block;
    width: 100%;
}
*, ::after, ::before {
    -webkit-box-sizing: initial;
            box-sizing: initial;
}
body {
    font-family: Gilroy, sans-serif, Arial;
    font-weight: 400;
    color: #464646;
    line-height: initial;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
main {
    max-width: 1024px;
    background-color: white;
    -webkit-box-shadow: 0 8px 28px -10px rgba(0, 0, 0, .2);
            box-shadow: 0 8px 28px -10px rgba(0, 0, 0, .2);
    margin: 0 auto;
}
.top, .bottom {
    max-width: 1024px;
    position: relative;
}
.bottom::after {
  content: "";
  background: url(../img/bottom.png) top right no-repeat;
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}
.top_background, .top_background_mobile {
    width: 100%;
}
.top_logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin-left: 5%;
    margin-top: 30px;
    width: 28vw;
    max-width: 284px;
    display: block;
}
.top_background_mobile {
    display: none;
}
.slider_container img {
    opacity: 0.4;
}
.slider_container a {
    outline: 5px solid #ffe55e;
    background: transparent;
    position: relative;
    text-decoration: none;
    color: #7a663f;
    font-size: 3.1vw;
    line-height: 4.5vw;
    letter-spacing: -2px;
    outline-offset: -5px;
    z-index: 15;
}
.slider_container a:hover {
    outline: 5px solid transparent;
    background: #feec91;
    color: black;
    outline-offset: -5px;
}
.hide {
    display: none;
}
.slider_container .slider_span_big {
    top: 8%;
}
@media (min-width:1025px) {
    .slider_container a {
        font-size: 32px;
        line-height: 45px;
    }
}
.slider_container a span {
    position: absolute;
    top: 52%;
    left: 6%;
    padding-right: 3%;
}
.swiper-button-next, .swiper-container-rtl {
    right: 41px;
    width: 35px;
    height: 35px;
}
.swiper-button-next:after {
    background: url(../img/arrow2.png) center center;
    display: block;
    content: "";
    background-size: contain;
    z-index: 15;
    width: 35px;
    height: 35px;
    font-family: none;
    font-size: unset;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: unset;
}
.swiper-button-next, .swiper-button-prev {
    width: 35px;
    height: 35px;
}
.swiper-button-prev:after {
    background: url(../img/arrow.png) center center;
    display: block;
    content: "";
    background-size: contain;
    z-index: 15;
    width: 35px;
    height: 35px;
    font-family: none;
    font-size: unset;
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: unset;
}
.swiper-button-next, .swiper-button-prev {
    top: 15%;
    position: initial;
    margin-top: 0;
    padding: 0 35px 0 35px;
}
.swiper-button-next:focus, .swiper-button-prev:focus {
    outline: none;
}
.swiper-container {
    z-index: auto;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}
.swiper-wrapper {
    z-index: auto;
}
.show_768, .show_768_block {
    display: none;
}
.slider_wrap {
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.buttons_button {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #464646;
    padding: 32px 15px;
    width: 68%;
    background-color: #ffe55e;
    font-size: 21.6px;
    line-height: 23.5px;
    margin: 100px auto;
    margin-bottom: 35px;
    display: block;
    text-align: center;
    border: 2px solid #ffffff;
    z-index: 1000;
    position: relative;
}
.buttons_button:hover {
    background-color: #ffffff;
    border: 2px solid #ffe55e;
}

.hr_pre {
    width: 30%;
    margin: 0 auto;
    margin-top: 16vw;
    border: 1px solid #ffe55e;
    position: relative;
}
@media (min-width:1025px) {
    .hr_pre {
        margin-top: 100px;
    }
}
.contacts {
    color: #000000;
    font-size: 2.4vw;
    text-align: center;
    display: block;
    margin-top: 5vw;
    position: relative;
    z-index: 1;
}
@media (min-width:1025px) {
    .contacts {
        font-size: 24px;
        margin-top: 47px;
    }
}
.contact_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 34%;
    margin: 0 auto;
    margin-top: 52px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-bottom: 160px;
}
.contact_icons_img {
    width: 7vw;
    height: 7vw;
    max-width: 66px;
    max-height: 66px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.contact_icons_img a {
    width: 100%;
    height: 100%;
    display: block;
}
.contact_icons .contact_icons_img:first-child {
    background: url(../img/phone.png) center center no-repeat;
    background-size: contain;
}
.contact_icons .contact_icons_img:nth-child(2) {
    background: url(../img/insta.png) center center no-repeat;
    background-size: contain;
}
.contact_icons .contact_icons_img:nth-child(3) {
    background: url(../img/whats.png) center center no-repeat;
    background-size: contain;
}
.contact_icons .contact_icons_img:first-child:hover {
    -webkit-filter: invert(0.5);
            filter: invert(0.5);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.contact_icons .contact_icons_img:nth-child(2):hover {
    -webkit-filter: invert(0.5);
            filter: invert(0.5);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.contact_icons .contact_icons_img:nth-child(3):hover {
    -webkit-filter: invert(0.5);
            filter: invert(0.5);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
.overlay {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    height: 100%;
    overflow-y: auto;
    z-index: 20;
}
.overlay.open {
    opacity: 1;
    pointer-events: inherit;
    z-index: 10;
}
.overlay .modal {
    background: url(../img/back_block.png) center center no-repeat;
    background-size: cover;
    width: 94%;
    max-width: 984px;
    text-align: center;
    -webkit-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
            box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
    opacity: 0;
    pointer-events: none;
    max-height: 100vh;
    overflow-y: auto;
}
.overlay .modal.open {
    opacity: 1;
    pointer-events: inherit;
    position: relative;
}
.overlay .modal.open .modal__content {
    opacity: 1;
    padding: 14px 79px;
    text-align: left;
}
.overlay .modal .modal__content {
    -webkit-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
            transform: translate(0, -10px);
    opacity: 0;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
}
.close-modal {
    position: sticky;
    right: 7%;
    top: 3%;
    margin-left: auto;
    z-index: 15;
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    color: black;
    text-decoration: none;
    background: white;
}
.modal_h2 {
    font-size: max(1em, min(1.8em, calc(100vw * 4 / 75)));
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 48px;
}
.modal--overflow {
    overflow: hidden;
}
.modal__content p, .modal__content ul {
    font-size: max(0.88em, min(0.88em, calc(100vw * 4 / 75)));
    line-height: 1.42;
    margin-bottom: 13px;
    color: #020202;
}
.modal__content p.modal_regalies {
    margin-bottom: 0;
}
.modal__content ul li, .modal__content ol li {
    list-style-position: inside;
}
.modal_float {
    float: left;
}
.modal_img {
    width: 16%;
    margin-left: 15px;
    margin-right: 15px;
    min-width: 118px;
    margin-bottom: 5px;
}
.modal_clear {
    clear: both;
}
.modal_container_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 13px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.modal_close {
    width: 30px;
}
.footer_agree-container {
    margin-right: 50px;
    margin-bottom: 0;
    padding-bottom: 35px;
    padding-top: 45px;
    z-index: 1;
    position: relative;
    padding-left: 10%;
}
.footer_agree {
    display: block;
    text-align: left;
    color: #464646!important;
    font-size: 16px;
    line-height: 30px;
    width: fit-content;
    text-decoration: underline;
}
.pre-instrument-info {
    font-size: 16px;
    line-height: 28px;
    color: #4f4f4f;
    margin-bottom: 35px;
    position: relative;
    margin-top: -153px;
    z-index: 2;
    text-align: left;
    padding-right: 6%;
}
.footer .pre-instrument-info {
    line-height: 21px;
    margin-bottom: 8px;
    margin-top: 7px;
}
.footer {
    background-color: #fef3c9;
}
.payment .contacts {
    padding-top: 5vw;
    margin-top: 0;
}
.payment .bottom {
    padding-top: 40px;
}
.show_700_block {
    display: none;
}
.footer_info_container {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.footer_info_block {
    width: 50%;
}
@media (max-width:768px) {
    .modal_container_img {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .overlay .modal.open .modal__content {
        padding: 14px 20px;
    }
    .modal_img {
        margin-left: 0;
        margin-right: 15px;
        min-width: 115px;
    }
    .top_logo {
        margin-top: 20px;
    }
    .slider_container a span {
        top: 30%;
    }
    .show_768 {
        display: contents;
    }
    .show_768_block {
        display: block;
    }
}
@media (max-width:700px) {
    .hide_700 {
        display: none;
    }
    .show_700_block {
        display: block;
    }
    .sectionContent {
        position: static;
        width: 85%;
        height: 200vw;
        margin: 0 auto;
    }
}
@media (max-width: 600px) {
    .footer .footer_agree-container {
        padding-top: 30px;
    }
    .footer_agree {
        font-size: 14px;
        line-height: 22px;
    }
    .pre-instrument-info {
        font-size: 12px;
        
    }
}
@media (max-width:699px) {
    .slider_container a {
        font-size: 4.1vw;
        line-height: 5.5vw;
        letter-spacing: -2px;
    }
    .contacts {
        font-size: 3.1vw;
        margin-top: 9vw;
    }
    .payment .contacts {
        padding-top: 9vw;
    }
    .slider_container a span {
        top: 33%;
    }
}
@media (max-width:585px) {
    .swiper-container {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .slider_container a {
        font-size: 5.5vw;
        line-height: 7vw;
    }
    .contact_icons {
        width: 77%;
        margin-top: 35px;
        padding-bottom: 45px;
    }
    .contact_icons_img {
        width: 15vw;
        height: 15vw;
    }
    .slider_container .slider_span_big {
        top: 23%;
    }
    .contacts {
        font-size: 4.1vw;
        margin-top: 7vw;
    }
    .payment .contacts {
        padding-top: 7vw;
    }
}
@media (max-width:500px) {
    .buttons_button {
        width: 63%;
        font-size: 16.6px;
        margin: 50px auto;
        margin-bottom: 19px;
    }
    .bottom::after {
        content: "";
        background: url(../img/320_bottom.png) top right no-repeat;
        background-size: contain;
        opacity: 0.7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
    }
    .slider_container a {
        font-size: 7vw;
        line-height: 10vw;
        letter-spacing: 0;
    }
    .slider_container a span {
        top: 52%;
    }
    .payment .bottom {
        padding-top: 30%;
    }
    .top_background {
        display: none;
    }
    .hr_pre {
        width: 58%;
        margin-top: 186vw;
    }
    .top_background_mobile {
        display: block;
    }
    .payment .top_background_mobile {
        display: none;
    }
    .top_logo {
        margin-top: 15px;
        width: 70vw;
        max-width: 350px;
        min-width: 224px;
    }
    .show_768 {
        display: none;
    }
    .show_768_block {
        display: none;
    }
    .swiper-button-next:after {
        width: 27px;
        height: 27px;
    }
    .swiper-button-prev:after {
        width: 27px;
        height: 27px;
    }
    .contacts {
        font-size: 6.1vw;
        margin-top: 6vw;
    }
    .payment .contacts {
        padding-top: 6vw;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 27px;
        height: 27px;
    }
    .slider_wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .swiper-button-next, .swiper-button-prev {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .swiper-container {
        margin: 15px 20vw;
    }
    .swiper-button-next, .swiper-button-prev {
        padding: 0 35px 0 35px;
    }
}
@media (max-width:374px) {
    .swiper-container {
        margin: 15px 13vw;
    }
    .slider_container a {
        font-size: 8.5vw;
        line-height: 11vw;
        letter-spacing: 0px;
    }
    .slider_container a span {
        top: 52%;
    }
    .swiper-button-next, .swiper-button-prev {
        padding: 0 22px 0 22px;
    }
    .footer_info_container {
        flex-wrap: wrap;
    }
    .footer_info_block {
        width: 100%;
    }
}




